infra/golden-pilot/reviewer-service.yaml
AWSTemplateFormatVersion: "2010-09-09"
Description: >-
  Aegis Golden Pilot - real human-approval reviewer service. Replaces the Run 2 placeholder
  human gate with an authenticated reviewer that enforces verified-supervisor role +
  separation of duties + a BOUND, SINGLE-USE approval (DynamoDB conditional write, replay
  rejected) + append-only audit, then calls states:SendTaskSuccess to release a live
  Step Functions waitForTaskToken gate. Serverless; tears down cleanly.

Parameters:
  AppName: { Type: String, Default: aegis }
  Environment: { Type: String, Default: dev, AllowedValues: [dev, test, staging, prod] }
  SupervisorGroup: { Type: String, Default: service-desk-supervisor }

Resources:

  PendingTable:
    Type: AWS::DynamoDB::Table
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      TableName: !Sub "${AppName}-pending-approvals-${Environment}"
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions: [{ AttributeName: request_id, AttributeType: S }]
      KeySchema: [{ AttributeName: request_id, KeyType: HASH }]

  LedgerTable:
    Type: AWS::DynamoDB::Table
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      TableName: !Sub "${AppName}-approval-ledger-${Environment}"
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions: [{ AttributeName: approval_id, AttributeType: S }]
      KeySchema: [{ AttributeName: approval_id, KeyType: HASH }]
      TimeToLiveSpecification: { AttributeName: expires_at, Enabled: true }

  AuditTable:
    Type: AWS::DynamoDB::Table
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      TableName: !Sub "${AppName}-reviewer-audit-${Environment}"
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - { AttributeName: request_id, AttributeType: S }
        - { AttributeName: seq, AttributeType: N }
      KeySchema:
        - { AttributeName: request_id, KeyType: HASH }
        - { AttributeName: seq, KeyType: RANGE }

  FnLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AppName}-reviewer-${Environment}"
      RetentionInDays: 3

  LambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AppName}-reviewer-role-${Environment}"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement: [{ Effect: Allow, Principal: { Service: lambda.amazonaws.com }, Action: sts:AssumeRole }]
      Policies:
        - PolicyName: reviewer-least-privilege
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: TableWrites
                Effect: Allow
                Action: [dynamodb:PutItem, dynamodb:GetItem, dynamodb:UpdateItem]
                Resource:
                  - !GetAtt PendingTable.Arn
                  - !GetAtt LedgerTable.Arn
                  - !GetAtt AuditTable.Arn
              - Sid: AuditDenyMutations
                Effect: Deny
                Action: [dynamodb:UpdateItem, dynamodb:DeleteItem]
                Resource: !GetAtt AuditTable.Arn
              - Sid: ResumeGate
                Effect: Allow
                Action: [states:SendTaskSuccess, states:SendTaskFailure]
                Resource: "*"
              - Sid: Logs
                Effect: Allow
                Action: [logs:CreateLogStream, logs:PutLogEvents, logs:CreateLogGroup]
                Resource: "*"

  GateOpenerFn:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AppName}-gate-opener-${Environment}"
      Runtime: python3.12
      Handler: index.handler
      Timeout: 30
      Role: !GetAtt LambdaRole.Arn
      Environment: { Variables: { PENDING_TABLE: !Ref PendingTable } }
      Code:
        ZipFile: |
          import os, boto3
          ddb = boto3.client("dynamodb")
          T = os.environ["PENDING_TABLE"]
          def handler(event, context):
              # Invoked by the state machine with the task token + request context.
              e = event or {}
              rid = e["request_id"]
              ddb.put_item(TableName=T, Item={
                  "request_id": {"S": rid},
                  "task_token": {"S": e["taskToken"]},
                  "agent_id":   {"S": e.get("agentId","")},
                  "tool_id":    {"S": e.get("toolId","")},
                  "args_hash":  {"S": e.get("argsHash","")},
                  "purpose":    {"S": e.get("purpose","")},
                  "requester":  {"S": e.get("requester","")},
                  "status":     {"S": "pending"},
              })
              return {"gate": "pending", "request_id": rid}

  WorkerFn:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AppName}-reviewer-worker-${Environment}"
      Runtime: python3.12
      Handler: index.handler
      Timeout: 30
      Role: !GetAtt LambdaRole.Arn
      Environment: { Variables: { AUDIT_TABLE: !Ref AuditTable } }
      Code:
        ZipFile: |
          import os, time, boto3
          ddb = boto3.client("dynamodb")
          A = os.environ["AUDIT_TABLE"]
          def handler(event, context):
              e = event or {}
              rid = e["request_id"]; seq = int(e.get("seq", 0)); step = e.get("step","step")
              ddb.put_item(TableName=A, Item={
                  "request_id": {"S": rid}, "seq": {"N": str(seq)},
                  "ts": {"N": str(int(time.time()))}, "step": {"S": step},
                  "decision": {"S": "allow"}},
                  ConditionExpression="attribute_not_exists(request_id) AND attribute_not_exists(seq)")
              return {"request_id": rid, "seq": seq + 1, "step": step}

  ReviewerFn:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AppName}-reviewer-${Environment}"
      Runtime: python3.12
      Timeout: 30
      Handler: index.handler
      Role: !GetAtt LambdaRole.Arn
      Environment:
        Variables:
          PENDING_TABLE: !Ref PendingTable
          LEDGER_TABLE: !Ref LedgerTable
          AUDIT_TABLE: !Ref AuditTable
          SUPERVISOR_GROUP: !Ref SupervisorGroup
      Code:
        ZipFile: |
          import os, time, json, hashlib, boto3
          from botocore.exceptions import ClientError
          ddb = boto3.client("dynamodb"); sfn = boto3.client("stepfunctions")
          PENDING=os.environ["PENDING_TABLE"]; LEDGER=os.environ["LEDGER_TABLE"]
          AUDIT=os.environ["AUDIT_TABLE"]; SUP=os.environ["SUPERVISOR_GROUP"]

          def _audit(rid, seq, step, extra):
              try:
                  ddb.put_item(TableName=AUDIT, Item={"request_id":{"S":rid},"seq":{"N":str(seq)},
                      "ts":{"N":str(int(time.time()))},"step":{"S":step},"detail":{"S":extra}},
                      ConditionExpression="attribute_not_exists(request_id) AND attribute_not_exists(seq)")
              except ClientError: pass

          def _resp(code, body):
              return {"statusCode": code, "body": json.dumps(body)}

          def handler(event, context):
              # In production this Lambda sits behind an API Gateway Cognito JWT authorizer;
              # reviewer identity + groups arrive as VERIFIED claims (see infra/golden-pilot/verify_jwt.py).
              e = event or {}
              rid = e.get("request_id"); reviewer = e.get("reviewer")
              groups = e.get("reviewerGroups", [])
              if not rid or not reviewer:
                  return _resp(400, {"error": "missing request_id or reviewer"})
              # load the pending gate
              g = ddb.get_item(TableName=PENDING, Key={"request_id":{"S":rid}}).get("Item")
              if not g or g.get("status",{}).get("S") != "pending":
                  return _resp(404, {"error": "no pending approval for request_id"})
              requester = g["requester"]["S"]; token = g["task_token"]["S"]
              # 1) verified-supervisor role required
              if SUP not in groups:
                  _audit(rid, 90, "approval_denied", "reviewer not in supervisor group")
                  return _resp(403, {"error": "reviewer lacks supervisor role", "decision": "DENY"})
              # 2) separation of duties: approver != requester
              if reviewer == requester:
                  _audit(rid, 91, "approval_denied", "separation-of-duties violation")
                  return _resp(403, {"error": "separation of duties: approver == requester", "decision": "DENY"})
              # 3) bound, single-use approval id
              binding = "|".join([rid, g["agent_id"]["S"], g["tool_id"]["S"], g["args_hash"]["S"],
                                  g["purpose"]["S"], requester])
              approval_id = hashlib.sha256(binding.encode()).hexdigest()
              try:
                  ddb.put_item(TableName=LEDGER, Item={"approval_id":{"S":approval_id},
                      "request_id":{"S":rid},"reviewer":{"S":reviewer},"requester":{"S":requester},
                      "ts":{"N":str(int(time.time()))},"expires_at":{"N":str(int(time.time())+3600)}},
                      ConditionExpression="attribute_not_exists(approval_id)")
              except ClientError as ex:
                  if ex.response["Error"]["Code"] == "ConditionalCheckFailedException":
                      _audit(rid, 92, "approval_replay_rejected", approval_id)
                      return _resp(409, {"error": "approval already consumed (replay rejected)", "decision": "DENY"})
                  raise
              # 4) audit + release the gate
              _audit(rid, 1, "approved", "reviewer=%s approval_id=%s" % (reviewer, approval_id[:12]))
              sfn.send_task_success(taskToken=token, output=json.dumps(
                  {"approved": True, "reviewer": reviewer, "approval_id": approval_id}))
              ddb.update_item(TableName=PENDING, Key={"request_id":{"S":rid}},
                  UpdateExpression="SET #s = :c", ExpressionAttributeNames={"#s":"status"},
                  ExpressionAttributeValues={":c":{"S":"consumed"}})
              return _resp(200, {"decision": "APPROVE", "approval_id": approval_id, "reviewer": reviewer})

  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AppName}-reviewer-sfn-${Environment}"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement: [{ Effect: Allow, Principal: { Service: states.amazonaws.com }, Action: sts:AssumeRole }]
      Policies:
        - PolicyName: invoke-lambdas
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource:
                  - !GetAtt GateOpenerFn.Arn
                  - !GetAtt WorkerFn.Arn

  GatedStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${AppName}-gated-${Environment}"
      StateMachineType: STANDARD
      RoleArn: !GetAtt StateMachineRole.Arn
      DefinitionSubstitutions:
        WorkerArn: !GetAtt WorkerFn.Arn
        GateOpenerArn: !GetAtt GateOpenerFn.Arn
      DefinitionString: |
        {
          "Comment": "Classify -> HumanGate(waitForTaskToken) -> Finalize",
          "StartAt": "Classify",
          "States": {
            "Classify": {
              "Type": "Task", "Resource": "${WorkerArn}",
              "Parameters": {"request_id.$": "$.request_id", "seq": 0, "step": "classify"},
              "ResultPath": "$.classify", "Next": "HumanGate"
            },
            "HumanGate": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
              "Parameters": {
                "FunctionName": "${GateOpenerArn}",
                "Payload": {
                  "taskToken.$": "$$.Task.Token",
                  "request_id.$": "$.request_id",
                  "agentId.$": "$.agentId", "toolId.$": "$.toolId",
                  "argsHash.$": "$.argsHash", "purpose.$": "$.purpose",
                  "requester.$": "$.requester"
                }
              },
              "ResultPath": "$.gate", "TimeoutSeconds": 3600, "Next": "Finalize"
            },
            "Finalize": {
              "Type": "Task", "Resource": "${WorkerArn}",
              "Parameters": {"request_id.$": "$.request_id", "seq": 2, "step": "finalize"},
              "ResultPath": "$.finalize", "End": true
            }
          }
        }

Outputs:
  StateMachineArn: { Value: !Ref GatedStateMachine, Export: { Name: !Sub "${AWS::StackName}-StateMachineArn" } }
  ReviewerFnName: { Value: !Ref ReviewerFn }
  AuditTableName: { Value: !Ref AuditTable }
  PendingTableName: { Value: !Ref PendingTable }
  LedgerTableName: { Value: !Ref LedgerTable }
